a32nx/*
src/*
build*.js
buildSrc/*
igniter.config.mjs
hdw-a339x/src/base/headwindsim-aircraft-a330-900/html_ui/Pages/A339X_Core/math.js
hdw-a339x/src/systems/fmgc/src/flightplanning/DirectTo.ts
hdw-a339x/src/systems/fmgc/src/flightplanning/FixNamingScheme.ts
hdw-a339x/src/systems/fmgc/src/flightplanning/FlightPlanAsoboSync.ts
hdw-a339x/src/systems/fmgc/src/flightplanning/FlightPlanManager.ts
hdw-a339x/src/systems/fmgc/src/flightplanning/FlightPlanSegment.ts
hdw-a339x/src/systems/fmgc/src/flightplanning/GeoMath.ts
hdw-a339x/src/systems/fmgc/src/flightplanning/GPS.ts
hdw-a339x/src/systems/fmgc/src/flightplanning/LegsProcedure.ts
hdw-a339x/src/systems/fmgc/src/flightplanning/ManagedFlightPlan.ts
hdw-a339x/src/systems/fmgc/src/flightplanning/ProcedureDetails.ts
hdw-a339x/src/systems/fmgc/src/flightplanning/RawDataMapper.ts
hdw-a339x/src/systems/fmgc/src/flightplanning/SegmentedFlightPlan.ts
hdw-a339x/src/systems/fmgc/src/flightplanning/WaypointBuilder.ts
hdw-a339x/src/systems/fmgc/src/flightplanning/WorldMagneticModel.ts
hdw-a339x/src/systems/fmgc/src/utils/LzUtf8.js
target/*
CMakeFiles/*
cmake*
hdw-a338x/out/*
hdw-a339x/out/*
# TODO: these need to be more granular
hdw-a338x/src/base/*
hdw-a339x/src/base/*