flybywire/*
src/*
build*.js
buildSrc/*
**-igniter.config.mjs
hdw-**/src/base/**/html_ui/Pages/**/math.js
hdw-**/src/systems/fmgc/src/flightplanning/DirectTo.ts
hdw-**/src/systems/fmgc/src/flightplanning/FixNamingScheme.ts
hdw-**/src/systems/fmgc/src/flightplanning/FlightPlanAsoboSync.ts
hdw-**/src/systems/fmgc/src/flightplanning/FlightPlanManager.ts
hdw-**/src/systems/fmgc/src/flightplanning/FlightPlanSegment.ts
hdw-**/src/systems/fmgc/src/flightplanning/GeoMath.ts
hdw-**/src/systems/fmgc/src/flightplanning/GPS.ts
hdw-**/src/systems/fmgc/src/flightplanning/LegsProcedure.ts
hdw-**/src/systems/fmgc/src/flightplanning/ManagedFlightPlan.ts
hdw-**/src/systems/fmgc/src/flightplanning/ProcedureDetails.ts
hdw-**/src/systems/fmgc/src/flightplanning/RawDataMapper.ts
hdw-**/src/systems/fmgc/src/flightplanning/SegmentedFlightPlan.ts
hdw-**/src/systems/fmgc/src/flightplanning/WaypointBuilder.ts
hdw-**/src/systems/fmgc/src/flightplanning/WorldMagneticModel.ts
hdw-**/src/systems/fmgc/src/utils/LzUtf8.js
target/*
CMakeFiles/*
cmake*
hdw-**/out/*
build-**/out/*
hdw-**/bundles/*
build-**/bundles/*