*
!*/
!/.vscode/**
!/.github/**
!/.husky/**
!/msfs-avionics-mirror/**
!/headwind-aircraft-a330-900/**
!/headwind-aircraft-a330-900-lock-highlight/**
/headwind-aircraft-a330-900/layout.json
/headwind-aircraft-a330-900/manifest.json
/headwind-aircraft-a330-900/a32nx_build_info.json
/headwind-aircraft-a330-900/build_info.json
headwind-aircraft-a330-900/a339x_build_info.json
headwind-aircraft-a330-900/ModelBehaviorDefs/A339X/generated/
headwind-aircraft-a330-900/html_ui/
!/docs/**
!/src-a339/**
!/scripts/**
!/typings/**
!.gitignore
!CODEOWNERS
!package.json
!package-lock.json
!.editorconfig
!.eslintrc
!jsconfig.json
!.gitattributes
!.prettierrc.json
!.prettierignore
!.npmrc
!manifest-base.json
!manifest-base-lock-highlight.json
!Cargo.lock
!Cargo.toml
!rust-toolchain.toml
!/.cargo/config.toml
!jest.config.js
!/jest/**
.DS_Store
node_modules
/src-a339/sound/.cache
/src-a339/instruments/aceBundles
/src-a339/instruments/src/EFB/dist
/src-a339/instruments/buildSrc/custom/*
/src-a339/autothrottle/target
/src-a339/project/_PackageInt
/src-a339/project/Packages
/src-a339/project/PackageSources/**
!/src-a339/project/PackageSources/**/*.png
*.wasm
/target
/src-a339/instruments/src/EFB/web/
/src-a339/systems/target/
/src-a339/systems/a320_hydraulic_simulation_graphs/*.png
/src-a339/systems/a320_pneumatic_simulation_graph_data/*.txt
!igniter.config.mjs
.igniter
/src-a339/fdr2csv/*.exe
/src-a339/fbw_a330/obj/
/src-a339/fdr2csv/build/
/src-a339/fadec/obj/
.env
src/instruments/buildSrc/custom/*
/headwind-aircraft-a330-900/MCDU SERVER/
/src/mcdu-server/client/build
!/headwind-aircraft-a330-900/CORS SERVER/*
msfs-avionics-mirror/src/sdk/build/**
*.tgz
/src
headwind-aircraft-a330-900-lock-highlight/manifest.json
headwind-aircraft-a330-900/SimObjects/Airplanes/Headwind_A330neo/systems_old.cfg
headwind-aircraft-a330-900/SimObjects/Airplanes/Headwind_A330neo/systems_edit.cfg
headwind-aircraft-a330-900/SimObjects/Airplanes/Headwind_A330neo/model/*.bin
headwind-aircraft-a330-900/SimObjects/Airplanes/Headwind_A330neo/model/*.gltf