# general exclusions
.DS_Store

# exclude changes to root directory
*
/.*/

# Explicit inclusions
!*/
!/.github/**
!/.vscode/**

!.editorconfig
!.eslintrc.js
!.gitattributes
!.gitignore
!.npmrc
!.prettierignore
!.prettierrc

!igniter.config.mjs
!a333x-igniter.config.mjs
!a339x-igniter.config.mjs
!su95x-igniter.config.mjs
!jsconfig.json

!Cargo.lock
Cargo.toml
!Cargo-A333X.toml
!Cargo-A339X.toml
!Cargo-SU95X.toml
!/.cargo/config.toml
!rust-toolchain.toml

!hdw-a339x/src/base/manifest-base.json
!package.json
!pnpm-lock.yaml

!jest.config.js
!/jest/**

CMakeLists.txt
!CMakeLists-A333X.txt
!CMakeLists-A339X.txt
!CMakeLists-SU95X.txt

# Project folders

!/textures/**

/hdw-common/*
/hdw-common/src/systems/instruments/src/EFB/Localization/data/downloaded/*.json
!/hdw-common/src/
!/hdw-common/src/**

/hdw-a333x-common/*
/hdw-a333x-common/src/systems/instruments/src/EFB/Localization/data/downloaded/*.json
!/hdw-a333x-common/src/
!/hdw-a333x-common/src/**

/hdw-a339x-common/*
/hdw-a339x-common/src/systems/instruments/src/EFB/Localization/data/downloaded/*.json
!/hdw-a339x-common/src/
!/hdw-a339x-common/src/**

/hdw-su95x-common/*
/hdw-su95x-common/src/systems/instruments/src/EFB/Localization/data/downloaded/*.json
!/hdw-su95x-common/src/
!/hdw-su95x-common/src/**

/hdw-a339x/*
/hdw-a339x/.env.local
!/hdw-a339x/README.md
!/hdw-a339x/mach.config.js
!/hdw-a339x/.env
!/hdw-a339x/docs/
!/hdw-a339x/docs/**
!/hdw-a339x/src/
!/hdw-a339x/src/**

/hdw-a339x-acj/*
!/hdw-a339x-acj/README.md
!/hdw-a339x-acj/mach.config.js
!/hdw-a339x-acj/.env
!/hdw-a339x-acj/docs/
!/hdw-a339x-acj/docs/**
!/hdw-a339x-acj/src/
!/hdw-a339x-acj/src/**

/hdw-a333x/*
!/hdw-a333x/README.md
!/hdw-a333x/mach.config.js
!/hdw-a333x/.env
!/hdw-a333x/docs/
!/hdw-a333x/docs/**
!/hdw-a333x/src/
!/hdw-a333x/src/**

/hdw-su95x/*
/hdw-su95x/.env.local
!/hdw-su95x/README.md
!/hdw-su95x/mach.config.js
!/hdw-su95x/.env
!/hdw-su95x/docs/
!/hdw-su95x/docs/**
!/hdw-su95x/src/
!/hdw-su95x/src/**

/hdw-a339x/out
/hdw-a339x/src/base/headwindsim-aircraft-a330-900/SimObjects/Airplanes/Headwind_A330neo/model/*.bin
/hdw-a339x/src/base/headwindsim-aircraft-a330-900/SimObjects/Airplanes/Headwind_A330neo/model/*.gltf
/hdw-a339x/src/systems/instruments/aceBundles
/hdw-a339x/src/systems/instruments/buildSrc/custom/*

/hdw-a339x/src/localization/msfs/downloaded/*.locPak
/hdw-a339x/src/systems/instruments/src/EFB/dist
/hdw-a339x/src/systems/instruments/src/EFB/web/

/hdw-a339x-liveries/*
!/hdw-a339x-liveries/README.md
!/hdw-a339x-liveries/mach.config.js
!/hdw-a339x-liveries/.env
!/hdw-a339x-liveries/docs/
!/hdw-a339x-liveries/docs/**
!/hdw-a339x-liveries/src/
!/hdw-a339x-liveries/src/**

/hdw-su95x-liveries/*
!/hdw-su95x-liveries/README.md
!/hdw-su95x-liveries/mach.config.js
!/hdw-su95x-liveries/.env
!/hdw-su95x-liveries/docs/
!/hdw-su95x-liveries/docs/**
!/hdw-su95x-liveries/src/
!/hdw-su95x-liveries/src/**

!/scripts/**

!/build-utils.js

!/tools/**
/tools/fdr2csv/*.exe
/tools/fdr2csv/build/
/tools/fdr2csv/cmake-build*

# avoid issues when switching branches during transistion from old to new structure
/src/
/headwind-aircraft-a330-900/
/headwind-aircraft-a330-900-lock-highlight/
/headwindsim-aircraft-a330-900/
/headwindsim-aircraft-a330-900-lock-highlight/

# explicit exclusions
/.env
node_modules/
target/
obj/
cmake-build*/
*.tgz
*.wasm
*.bak

/build-a333x/
/build-a339x/
/build-a339x-acj/
/build-su95x/
/build-common/

# ======== OLD =============

#!/.husky/**
#!CODEOWNERS
#/src/mcdu-server/client/build
#/src/presets/obj/
#/src/systems/a320_hydraulic_simulation_graphs/*.png
#/src/systems/a320_pneumatic_simulation_graph_data/*.txt
#/src/systems/target/
#!/headwindsim-aircraft-a330-900/CORS SERVER/*
#/src/fadec/obj/
#/src/fbw_a320/obj/
#/src/fbw_a380/obj/
#/src/sound/.cache
#/src/instruments/buildSrc/custom/*
#src/instruments/buildSrc/custom/*
#/src/autothrottle/target
#/headwindsim-aircraft-a330-900/layout.json
#/headwindsim-aircraft-a330-900/manifest.json
#/headwindsim-aircraft-a330-900/a32nx_build_info.json
#/headwindsim-aircraft-a330-900/html_ui/JS/atsu/
#/headwindsim-aircraft-a330-900/html_ui/JS/fmgc/
#/headwindsim-aircraft-a330-900/html_ui/JS/sentry-client/
#/headwindsim-aircraft-a330-900/html_ui/JS/simbridge-client/
#/headwindsim-aircraft-a330-900/html_ui/JS/tcas/
#/headwindsim-aircraft-a330-900/html_ui/Pages/VCockpit/Instruments/A32NX/*
#!/headwindsim-aircraft-a330-900/html_ui/Pages/VCockpit/Instruments/A32NX/PFD
#/headwindsim-aircraft-a330-900/html_ui/Pages/VCockpit/Instruments/A32NX/PFD/*.js
#/headwindsim-aircraft-a330-900/html_ui/Pages/VCockpit/Instruments/A32NX/PFD/*.css
#/headwindsim-aircraft-a330-900/html_ui/Pages/VCockpit/Instruments/A32NX/PFD/*.html
#/headwindsim-aircraft-a330-900/html_ui/JS/generated/**
#/headwindsim-aircraft-a330-900/ModelBehaviorDefs/A32NX/generated
#!/docs/**
#!/src/**
#!/scripts/**
#!/typings/**

Cargo.lock
