*
!*/
!/.vscode/**
!/.github/**
!/.husky/**
!/msfs-avionics-mirror/**
!/headwind-aircraft-a330-900/**
/headwind-aircraft-a330-900/layout.json
/headwind-aircraft-a330-900/manifest.json
/headwind-aircraft-a330-900/a32nx_build_info.json
/headwind-aircraft-a330-900/build_info.json
/headwind-aircraft-a330-900/html_ui/JS/atsu/
/headwind-aircraft-a330-900/html_ui/JS/fmgc/
/headwind-aircraft-a330-900/html_ui/JS/sentry-client/
/headwind-aircraft-a330-900/html_ui/JS/tcas/
/headwind-aircraft-a330-900/html_ui/Pages/VCockpit/Instruments/A32NX/*
!/headwind-aircraft-a330-900/html_ui/Pages/VCockpit/Instruments/A32NX/PFD
/headwind-aircraft-a330-900/html_ui/Pages/VCockpit/Instruments/A32NX/PFD/*.js
/headwind-aircraft-a330-900/html_ui/Pages/VCockpit/Instruments/A32NX/PFD/*.css
/headwind-aircraft-a330-900/html_ui/Pages/VCockpit/Instruments/A32NX/PFD/*.html
/headwind-aircraft-a330-900/html_ui/JS/generated/**
/headwind-aircraft-a330-900/ModelBehaviorDefs/A32NX/generated
!/docs/**
!/src/**
!/scripts/**
!/typings/**
!.gitignore
!CODEOWNERS
!package.json
!.editorconfig
!.eslintrc
!jsconfig.json
!.gitattributes
!.prettierrc.json
!.prettierignore
!.npmrc
!manifest-base.json
!Cargo.lock
!Cargo.toml
!rust-toolchain.toml
!/.cargo/config.toml
!jest.config.js
!/jest/**
.DS_Store
node_modules
/src/sound/.cache
/src/instruments/aceBundles
/src/instruments/src/EFB/dist
/src/instruments/buildSrc/custom/*
/src/autothrottle/target
/headwind-aircraft-a330-900/SimObjects/AirPlanes/Headwind_A330neo/model/*.gltf
/headwind-aircraft-a330-900/SimObjects/AirPlanes/Headwind_A330neo/model/*.bin
*.wasm
/target
/src/instruments/src/EFB/web/
/src/systems/target/
/src/systems/a320_hydraulic_simulation_graphs/*.png
/src/systems/a320_pneumatic_simulation_graph_data/*.txt
!igniter.config.mjs
.igniter
/src/fdr2csv/*.exe
/src/fbw/obj/
/src/fdr2csv/build/
/src/fadec/obj/
.env
src/instruments/buildSrc/custom/*
/headwind-aircraft-a330-900/MCDU SERVER/
/src/mcdu-server/client/build
!/headwind-aircraft-a330-900/CORS SERVER/*
/headwind-aircraft-a330-900/SimObjects/AirPlanes/Headwind_A330neo/TEXTURE/A320NEO_COCKPIT_DECALSTEXT_ALBD.TIF.dds
msfs-avionics-mirror/src/sdk/build/**
*.tgz
