@tailwind base;
@tailwind components;
@tailwind utilities;

/*
  Custom CSS for a32nx [EFB]
*/

@layer base {
  @font-face {
    font-family: "JetBrains Mono";
    font-weight: 300;
    src: url("/A339X_FONTS/JetBrainsMono-Regular.ttf") format("truetype");
  }

  @font-face {
    font-family: "Inter";
    font-weight: 400;
    src: url("/A339X_FONTS/Inter-Regular.ttf") format("truetype");
  }
  @font-face {
    font-family: "Inter";
    font-weight: 600;
    src: url("/A339X_FONTS/Inter-SemiBold.ttf") format("truetype");
  }

  @font-face {
    font-family: "Manrope";
    font-weight: 300;
    src: url("/A339X_FONTS/Manrope-Light.ttf") format("truetype");
  }
  @font-face {
    font-family: "Manrope";
    font-weight: 400;
    src: url("/A339X_FONTS/Manrope-Regular.ttf") format("truetype");
  }
  @font-face {
    font-family: "Manrope";
    font-weight: 500;
    src: url("/A339X_FONTS/Manrope-Medium.ttf") format("truetype");
  }
  @font-face {
    font-family: "Manrope";
    font-weight: 600;
    src: url("/A339X_FONTS/Manrope-SemiBold.ttf") format("truetype");
  }
  @font-face {
    font-family: "Manrope";
    font-weight: 700;
    src: url("/A339X_FONTS/Manrope-Bold.ttf") format("truetype");
  }

  @font-face {
    font-family: "AirbusRMP";
    font-weight: 900;
    src: url("/A339X_FONTS/AirbusRMP.ttf") format("truetype");
  }

  // Korean
  @font-face {
    font-family: "NotoSansKR";
    font-weight: 300;
    src: url("/A339X_FONTS/NotoSansKR-Light.otf") format("truetype");
  }
  @font-face {
    font-family: "NotoSansKR";
    font-weight: 400;
    src: url("/A339X_FONTS/NotoSansKR-Regular.otf") format("truetype");
  }
  @font-face {
    font-family: "NotoSansKR";
    font-weight: 500;
    src: url("/A339X_FONTS/NotoSansKR-Medium.otf") format("truetype");
  }
  @font-face {
    font-family: "NotoSansKR";
    font-weight: 600;
    src: url("/A339X_FONTS/NotoSansKR-Bold.otf") format("truetype");
  }
  @font-face {
    font-family: "NotoSansKR";
    font-weight: 700;
    src: url("/A339X_FONTS/NotoSansKR-Bold.otf") format("truetype");
  }

  // Japanese
  @font-face {
    font-family: "NotoSansJP";
    font-weight: 300;
    src: url("/A339X_FONTS/NotoSansJP-Light.otf") format("truetype");
  }
  @font-face {
    font-family: "NotoSansJP";
    font-weight: 400;
    src: url("/A339X_FONTS/NotoSansJP-Regular.otf") format("truetype");
  }
  @font-face {
    font-family: "NotoSansJP";
    font-weight: 500;
    src: url("/A339X_FONTS/NotoSansJP-Medium.otf") format("truetype");
  }
  @font-face {
    font-family: "NotoSansJP";
    font-weight: 600;
    src: url("/A339X_FONTS/NotoSansJP-Bold.otf") format("truetype");
  }
  @font-face {
    font-family: "NotoSansJP";
    font-weight: 700;
    src: url("/A339X_FONTS/NotoSansJP-Bold.otf") format("truetype");
  }

  // Simplified Chinese
  @font-face {
    font-family: "NotoSansSC";
    font-weight: 300;
    src: url("/A339X_FONTS/NotoSansSC-Light.otf") format("truetype");
  }
  @font-face {
    font-family: "NotoSansSC";
    font-weight: 400;
    src: url("/A339X_FONTS/NotoSansSC-Regular.otf") format("truetype");
  }
  @font-face {
    font-family: "NotoSansSC";
    font-weight: 500;
    src: url("/A339X_FONTS/NotoSansSC-Medium.otf") format("truetype");
  }
  @font-face {
    font-family: "NotoSansSC";
    font-weight: 600;
    src: url("/A339X_FONTS/NotoSansSC-Bold.otf") format("truetype");
  }
  @font-face {
    font-family: "NotoSansSC";
    font-weight: 700;
    src: url("/A339X_FONTS/NotoSansSC-Bold.otf") format("truetype");
  }

  // Arabic
  @font-face {
    font-family: "NotoSansArabic";
    font-weight: 300;
    src: url("/A339X_FONTS/NotoSansArabic-Light.ttf") format("truetype");
  }
  @font-face {
    font-family: "NotoSansArabic";
    font-weight: 400;
    src: url("/A339X_FONTS/NotoSansArabic-Regular.ttf") format("truetype");
  }
  @font-face {
    font-family: "NotoSansArabic";
    font-weight: 500;
    src: url("/A339X_FONTS/NotoSansArabic-Medium.ttf") format("truetype");
  }
  @font-face {
    font-family: "NotoSansArabic";
    font-weight: 600;
    src: url("/A339X_FONTS/NotoSansArabic-SemiBold.ttf") format("truetype");
  }
  @font-face {
    font-family: "NotoSansArabic";
    font-weight: 700;
    src: url("/A339X_FONTS/NotoSansArabic-Bold.ttf") format("truetype");
  }

  // Thai
  @font-face {
    font-family: "NotoSansThai";
    font-weight: 300;
    src: url("/A339X_FONTS/NotoSansThai-Light.ttf") format("truetype");
  }
  @font-face {
    font-family: "NotoSansThai";
    font-weight: 400;
    src: url("/A339X_FONTS/NotoSansThai-Regular.ttf") format("truetype");
  }
  @font-face {
    font-family: "NotoSansThai";
    font-weight: 500;
    src: url("/A339X_FONTS/NotoSansThai-Medium.ttf") format("truetype");
  }
  @font-face {
    font-family: "NotoSansThai";
    font-weight: 600;
    src: url("/A339X_FONTS/NotoSansThai-SemiBold.ttf") format("truetype");
  }
  @font-face {
    font-family: "NotoSansThai";
    font-weight: 700;
    src: url("/A339X_FONTS/NotoSansThai-Bold.ttf") format("truetype");
  }

  // Hebrew
  @font-face {
    font-family: "NotoSansHebrew";
    font-weight: 300;
    src: url("/A339X_FONTS/NotoSansHebrew-Light.ttf") format("truetype");
  }
  @font-face {
    font-family: "NotoSansHebrew";
    font-weight: 400;
    src: url("/A339X_FONTS/NotoSansHebrew-Regular.ttf") format("truetype");
  }
  @font-face {
    font-family: "NotoSansHebrew";
    font-weight: 500;
    src: url("/A339X_FONTS/NotoSansHebrew-Medium.ttf") format("truetype");
  }
  @font-face {
    font-family: "NotoSansHebrew";
    font-weight: 600;
    src: url("/A339X_FONTS/NotoSansHebrew-SemiBold.ttf") format("truetype");
  }
  @font-face {
    font-family: "NotoSansHebrew";
    font-weight: 700;
    src: url("/A339X_FONTS/NotoSansHebrew-Bold.ttf") format("truetype");
  }

  // Hindi
  @font-face {
    font-family: "NotoSansDevanagari";
    font-weight: 300;
    src: url("/A339X_FONTS/NotoSansDevanagari-Light.ttf") format("truetype");
  }
  @font-face {
    font-family: "NotoSansDevanagari";
    font-weight: 400;
    src: url("/A339X_FONTS/NotoSansDevanagari-Regular.ttf") format("truetype");
  }
  @font-face {
    font-family: "NotoSansDevanagari";
    font-weight: 500;
    src: url("/A339X_FONTS/NotoSansDevanagari-Medium.ttf") format("truetype");
  }
  @font-face {
    font-family: "NotoSansDevanagari";
    font-weight: 600;
    src: url("/A339X_FONTS/NotoSansDevanagari-SemiBold.ttf") format("truetype");
  }
  @font-face {
    font-family: "NotoSansDevanagari";
    font-weight: 700;
    src: url("/A339X_FONTS/NotoSansDevanagari-Bold.ttf") format("truetype");
  }

  html body {
    @apply font-body;
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-title text-theme-text;
  }

  h1 {
    @apply text-3xl;
  }

  h2 {
    @apply text-2xl;
  }

  h3, h4, h5, h6 {
    @apply text-xl;
  }

  p, div, a, span, button {
    @apply text-xl text-theme-text;
  }

  ul {
    @apply list-disc pl-12;
  }
}

/* ---- Global Scrollbar ---- */

.scrollbar::-webkit-scrollbar {
  @apply rounded-md w-6 bg-theme-secondary;
}

.scrollbar::-webkit-scrollbar-track {
  @apply rounded-md bg-theme-secondary;
}

.scrollbar::-webkit-scrollbar-thumb {
  @apply rounded-md bg-theme-accent;

  &:hover {
    @apply bg-theme-highlight;
  }
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* ---- Dashboard UtilComponents ---- */

.flip-horizontal {
  transform: scaleX(-1);
}

/* ---- Dispatch UtilComponents ---- */

.image-theme {
  /* fbw flypad theme for simbrief maps */
  & img {
    width: 70.5%;
    filter: brightness(110%) hue-rotate(210deg) saturate(26%) invert(100%);
  }
}

.grabbable {
  cursor: move;
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;

  &:active {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
  }
}

.shake {
  animation: shake 0.5s;

  animation-iteration-count: infinite;

  @keyframes shake {
    0% {
      transform: translate(1px, 1px) rotate(0deg);
    }
    10% {
      transform: translate(-1px, -2px) rotate(-1deg);
    }
    20% {
      transform: translate(-3px, 0px) rotate(1deg);
    }
    30% {
      transform: translate(3px, 2px) rotate(0deg);
    }
    40% {
      transform: translate(1px, -1px) rotate(1deg);
    }
    50% {
      transform: translate(-1px, 2px) rotate(-1deg);
    }
    60% {
      transform: translate(-3px, 1px) rotate(0deg);
    }
    70% {
      transform: translate(3px, 1px) rotate(-1deg);
    }
    80% {
      transform: translate(-1px, -1px) rotate(1deg);
    }
    90% {
      transform: translate(1px, 2px) rotate(0deg);
    }
    100% {
      transform: translate(1px, -2px) rotate(-1deg);
    }
  }
}
